<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt" xml:lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NetCulture</title>
        <link rel="stylesheet" type="text/css" th:href="@{/CSS/perfil.css}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <script defer th:src="@{/scripts/home.js}"></script>
    </head>
    <body>
        <div class="sidebar">
            <a href="/comprador/home/view" class="brand">Netculture</a>
            <button id="menuProfile"><i class="fas fa-user"></i></button>
        </div>

        <div class="container">
            <h1>Bem-vindo à Netculture</h1>
            <p>Esta é a página inicial do seu aplicativo. Use a barra de navegação para acessar diferentes seções.</p>

            
            <div th:if="${vLogado != null}">
                <h2>Painel do Vendedor</h2>

                <div class="continue-button">
                    <button><a href="/produto/create/view">Cadastrar Novo Produto</a></button>
                </div>

                <div class="continue-button">
                    <button><a href="/produto/meus-produtos">Meus Produtos</a></button>
                </div>
            </div>
            <button id="addStore" class="add-store-btn" onclick="window.location.href='/vendedor/loja/create/view'">
                <i class="fas fa-plus"></i> 
            </button>

            <div class="lojas-container">
                <div th:each="loja : ${lojas}" class="loja-card" >
                    <h2 th:text="${loja.titulo}">Título da Loja</h2>
                    <p th:text="${loja.descricao}">Descrição da Loja</p>
                    <p><strong>WhatsApp:</strong> <span th:text="${loja.whatsapp}">Número do WhatsApp</span></p>
                    <span style="display: none;" th:text="${loja.id}" class="loja-id"></span>
                    <!-- <button class="view-store-btn" th:data-url="'/vendedor/loja/' + ${loja.id} + '/view'"></button>
                        <i class="fas fa-eye"></i>                              
                    </button> -->
                </div>
            </div>
        </div>

        <script th:inline="javascript">
            /*<![CDATA[*/
            var cLogado = /*[[${cLogado != null}]]*/ false;
            var vLogado = /*[[${vLogado != null}]]*/ false;
            /*]]>*/


            var cards = document.getElementsByClassName("loja-card");
            cards = Array.from(cards);
            cards.forEach(card => {
                card.addEventListener("click", function(){
                    var url = "/vendedor/loja/" + card.getElementsByClassName("loja-id")[0].innerHTML + "/view";
                    window.location.href = url; 
                });
            });
        </script>
    </body>
</html>
