<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos - NetCulture</title>
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/cadastro.css}" />
</head>
<body>

    <div class="container">
        <div class="form-header">
            <div class="title">
                <h1>Lista de Produtos</h1>
            </div>
            <div class="login-button">
                <button><a href="/vendedor/home/view">Voltar</a></button>
            </div>
        </div>

        <p th:text="${msg}"></p>

        <div class="product-list">
            <th:block th:each="produto : ${produtos}">
                <div class="product-card">
                    <img th:src="${produto.imagem}" alt="Imagem do Produto" class="product-image">
                    <h3 th:text="${produto.nome}"></h3>
                    <p th:text="${produto.descricao}"></p>
                    <p><strong>Preço:</strong> <span th:text="${produto.preco}" class="preco"></span> </p>
                    <!-- R$ <span th:text="${produto.preco}"></span> -->

                    <div class="action-buttons">
                        <form th:action="@{/produto/delete/{id}(id=${produto.id})}" method="post">
                            <button type="submit" class="delete-button">Remover</button>
                        </form>
                    </div>
                </div>
            </th:block>
        </div>

    </div>
    <script defer>
        document.addEventListener("DOMContentLoaded", function(){
            
                var produtos = document.getElementsByClassName("preco");
                produtos = Array.from(produtos);
                produtos.forEach(produto => {
                    var precoProduto = produto.innerHTML;
                    precoProduto = parseFloat(precoProduto);
                    produto.innerHTML = precoProduto.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'});
                });
        });
        

    </script>

</body>
</html>
